.cart-area{
    display: flex;
    flex-direction: column;
    padding: 20px 9.5%;
    .cart-title{
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 10px;
        a{
            color: $black;
            background-color: $box-light;
            padding: 10px 12px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            svg{
                font-size: 16px;
                margin-bottom: -4px;
            }
}
    }
    .cart-title.dt{
        display: block;
    }
    .cart-title.mb{
          display: none;
    }
    .cart-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;
        border-radius: 15px;
      
        .cart-content {
          flex: 4;
          display: flex;
          flex-direction: column;
          gap: 15px;
          background: $main-light;
          padding: 30px;
          border-radius: 25px;
          box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.038);
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
    }
      
        .cart-item {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $box-light;
          padding: 15px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          gap: 20px;
          &-image{
            width: 120px;
            height: 120px;
            margin-top: -50px;
            border-radius: 25px;
            background-color: $white;
            padding: 10px;
            border: 1px solid #dddddda4;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
          }
      
          &-info {
            flex: 1;
            padding: 0 15px;
      
            h6 {
              font-size: 18px;
              font-weight: normal;
            }
      
            .old-price {
              font-size: 14px;
              color: $red;
              text-decoration: line-through;
            }
      
            .new-price {
              font-size: 20px;
              font-weight: 700;
              color: #000;
            }
          }
      
          &-actions {
            display: flex;
            align-items: center;
            gap: 10px;
      
            .quantity-items{
                background-color: $box-hover-light;
                padding: 10px 15px;
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 5px;
                .quantity-btn{
                    width: 30px;
                    height: 30px;
                    border: none;
                    background: transparent;
                    border-radius: 5px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: 0.3s;
            
                    &:hover {
                      background: #d0d0d0;
                    }
                  }
            
                  .quantity {
                    font-size: 12px;
                    font-weight: bold;
                  }
            }
      
            .delete-btn {
                cursor: pointer;
              border: none;
              background-color: $box-hover-light;
              padding: 12px 16px;
              border-radius: 12px;
              -webkit-border-radius: 12px;
              -moz-border-radius: 12px;
              -ms-border-radius: 12px;
              -o-border-radius: 12px;
              @include transition();
              font-size: 20px;
      
              &:hover {
                background-color: $red;
                color: $white;
              }
            }
          }
        }
      
        .checkout-btn {
          width: 20%;
          padding: 12px;
          background: $main-dark;
          color: $white;
          font-weight: bold;
          border-radius: 12px;
          text-align: center;
          cursor: pointer;
          transition: 0.3s;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          &:hover {
            background: $box-hover-dark;
          }
    }
      
        .cart-summary {
          flex: 1.2;
          height: 410px;
          background-color: $main-light;
          box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.038);
          padding: 20px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
          h6{
            font-weight: bold;
            padding-bottom: 15px;
          }
      
          .item-div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-height: 220px;
            overflow-x: hidden;
            overflow-y: visible;
            scrollbar-width: 4px;
            padding: 5px;
            &::-webkit-scrollbar {
              width: 4px; 
              height: 6px; 
            }
            &::-webkit-scrollbar-track {
              background: #f0f0f0; 
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
              background: #888; 
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: #555;
            }
            &* {
              scrollbar-width: thin;
              scrollbar-color: #888 #f0f0f0; 
            }
            .item-elements{
                border-top: 1px solid #ddd;
                .summary-item {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    margin: 10px 0;
                    gap: 0;
                    p{
                        max-width: 160px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .pricing{
                        display: flex;
                        flex-direction: column;
                        .old-price{
                            color: $black-2nd;
                            text-decoration: line-through;
                        }
                        .new-price{
                            color: $black;
                            font-weight: bold;
                        }
                    }
        
                  }
            }
          }
      
          .summary-quantity {
            font-size: 14px;
            color: $black-2nd;
          }
      
          .summary-discount {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            background-color: $box-light;
            color: $black-2nd;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
}
      
          .summary-total {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            margin-top: 15px;
            span{
                color: $black-2nd;
                font-size: 14px;
            }
            .total-price{
                color: $black;
                font-size: 26px;
            }
          }
        }
      }
      .checkout-btn.mobile{
        display: none;
       }     
}
.cart-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 9.5%;
    gap: 15px;
    text-align: center;
    img{
      width: 150px;
    }
    p{
        color: $black;
        font-size: 16px;
        font-weight: 500;
    }
    .desc{
        color: $black-2nd;
        font-size: 12px;
    }
    .back-home{
      text-decoration: none;
      font-size: 12px;
      color: #fff;
      background-color: $red;
      padding: 12px 22px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      &:hover{
        background-color: $red-hover;
      }
}
  }
  @media (max-width: 768px){
    .cart-area{
        padding: 0px 15px !important;
        .cart-title.dt{
            display: none;
        }
        .cart-title.mb{
              display: flex;
              font-size: 18px;
        }        
        .cart-container {
            gap: 20px;
            padding: 10px 0;
          
            .cart-title {
              font-size: 20px;
            }
          
            .cart-content {
              flex: 4;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 5px;
              background: transparent;
              padding: 0px;
              box-shadow: none;
        }
          
            .cart-item {
              margin-top: 20px;
              display: flex;
              width: calc(50% - 10px);
              max-width: 200px;
              flex-direction: column;
              background: $box-light;
              padding: 15px;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              gap: 5px;
              &-image{
                width: 130px;
                height: 120px;
                margin-top: -30px;
                border-radius: 10px;
                background-color: $white;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
              }
          
              &-info {
                flex: 1;
                padding: 0px !important;
          
                h6 {
                  font-size: 10px;
                }
          
                .old-price {
                  font-size: 10px;
                }
          
                .new-price {
                  font-size: 13px;
                }
              }
          
              &-actions {
                gap: 5px;
          
                .quantity-items{
                    padding: 8px 10px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    gap: 10px;
                    .quantity-btn{
                        width: 20px;
                        height: 20px;
                        border-radius: 5px;
                        font-size: 10px;                
                        &:hover {
                          background: #d0d0d0;
                        }
                      }
                
                      .quantity {
                        font-size: 10px;
                      }
                }
          
                .delete-btn {
                  padding: 8px 12px;
                  font-size: 16px;
                }
              }
            }
          
            .checkout-btn {
              display: none;
        }
          
            .cart-summary {
              height: auto;
              border-radius: 20px;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              -ms-border-radius: 20px;
              -o-border-radius: 20px;          
              .item-div{
                .item-elements{
                    .summary-item {
                        font-size: 12px;
                        p{
                            font-size: 14px;
                        }            
                      }
                }
              }
              .summary-total {
                span{
                    font-size: 12px;
                }
                .total-price{
                    font-size: 22px;
                }
              }
            }
          }
        .checkout-btn.mobile{
            display: block;
            width: 100%;
            padding: 12px;
            background: $main-dark;
            color: $white;
            font-weight: bold;
            border-radius: 12px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            &:hover {
              background: $box-hover-dark;
            }  
        }
    }
}
  