.header {
    background-color: $main-light;
    padding: 0 9.5%;
    .fixed{
        width: 100%;
        border-bottom: 1px solid $border-light;
    }
    .top-navbar {
      background-color: $box-light;
      color: $black;
      padding: 8px 22px;
      display: flex;
      border-radius: 30px;
      justify-content: space-between;
      align-items: center;
      transition: transform 0.3s ease-in-out;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      &.hidden {
        transform: translateY(-100%);
      }
      nav{
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .burger{
            cursor: pointer;
            margin-left: 5px;
            padding: 1px;
            font-size: 24px;
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }
        ul {
            display: flex;
            gap: 25px;
            list-style: none;
            margin: 0;
            padding: 0;
      
            li {
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                color: $black-2nd;
                @include transition();
              &:hover {
                color: $black;
              }
            }
            .active{
                color: $black;
            }
            .droped{
                position: relative;
                ion-icon{
                    margin-bottom: -3px;
                    margin-left: 2px;
                    @include transition();
                }
                .dropdown{
                    top: 20px;
                    width:90px;
                    z-index: 999;
                    position: absolute;
                    padding: 10px;
                    background-color: $main-light;
                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.036);
                    border-radius: 20px;
                    display: flex;
                    opacity: 0;
                    flex-direction: column;
                    align-items: left;
                    gap: 10px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    transform-origin: top;
                    @include transition();
                    li{
                        color: $black-2nd;
                        @include transition();
                        &:hover{
                            color: $black;
                        }
                    }
                }

            }
            .droped:hover .dropdown{
                opacity: 1;
            }
            .droped:hover ion-icon{
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
}
          }
       }
  
      .mode-toggle {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-dark;
        border-radius: 15px;
        padding: 5px 6px;
        cursor: pointer;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        span{
            display: flex;
            gap: 3px;
            svg{
                font-size: 20px;
            }
        }
        .toggle-round{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 3px;
            background-color: $main-light;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            @include transition();
            &.left{
                left: 3px;
            }
            &.right{
                left: 27px;
            }
}
        svg{
            color: $white;
            padding:3px;
            font-size: 15px;
        }
}
    }
  
    .main-navbar {
      background-color: $main-light;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;
      position: relative;
      z-index: 10;
  
      &.fixed {
        padding: 10px 9%;
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
      }
  
      .logo img {
        height: 50px;
      }
      .catalogue-btn{
        @include flex-center();
        gap: 5px;
        cursor: pointer;
        background-color: $box-dark;
        padding: 12px 18px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        font-weight: 600;
        @include transition();
        &:hover{
            background-color: $box-hover-dark;
        }
        svg{
            margin-bottom: -6px;
            font-size: 23px;
        }
       }
       .category-panel {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.085);
        padding: 20px;
        position: absolute;
        top: 80px;
        width: 100%;
        height: auto;
        max-width: 1240px;
        background-color: $box-light;
        border-radius: 30px;
        display: none;
        font-family: Arial, sans-serif;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        &.fixed{
            top: 78px;
            height: 600px;
        }
        &.active{
            display: flex;
        }
        .side-panel{
          width: 300px;
          background-color: transparent;
          border-right: 1px solid #ddd;
          padding-right: 15px;
          border-radius: 30px 0px 0px 30px;
          -webkit-border-radius: 30px 0px 0px 30px;
          -moz-border-radius: 30px 0px 0px 30px;
          -ms-border-radius: 30px 0px 0px 30px;
          -o-border-radius: 30px 0px 0px 30px;
          .side-panel-item{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding: 0.8rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 0.9rem;
            font-size: 13px;
            border-radius: 15px;
            color: #333;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            svg{
                font-size: 18px;
                margin-bottom: -3px;
                margin-right: 10px;
            }
            &:hover{
              background-color: $box-hover-light;
            }
      
            &.active {
              background-color: $box-hover-light;
              font-weight: bold;
            }
          }
        }
      
        .content-panel {
          display: flex;
          justify-content: left;
          flex-wrap: wrap;
          width: 100%;
          padding:15px 15px 15px 30px;
          overflow-x: hidden;
          overflow-y: visible;
          scrollbar-width: 2px;
          &::-webkit-scrollbar {
            width: 2px; 
            height: 6px; 
          }
          &::-webkit-scrollbar-track {
            background: #f0f0f0; 
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
          &* {
            scrollbar-width: thin;
            scrollbar-color: #888 #f0f0f0; 
          }

      
          .subcategory {
            margin-bottom: 0px;
            margin-right: 80px;
      
            h6 {
              font-size: 15px;
              margin-bottom: 0.5rem;
              color: #444;
            }
      
            ul {
              list-style: none;
              padding: 0;
      
              li {
                padding: 6px 0;
                color: #666;
      
                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
      
        @media (max-width: 768px) {
          flex-direction: column;
      
          .side-panel {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #ddd;
          }
      
          .content-panel {
            width: 100%;
          }
        }
      }
      
      .search-bar {
        position: relative;
        display: flex;
        width: 62%;
        gap: 10px;
        background-color: $box-light;
        border-radius: 12px;
        padding: 12px 15px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        input{
          width: 100%;
          background: none;
          border: none;
          outline: none;
          color: $black;
          &::placeholder{
            color: $black-2nd;
          }
        }
  
        button {
          background: none;
          border: none;
          color: $black-2nd;
          cursor: pointer;
          font-size: 20px;
        }
      }
  
      .actions {
        display: flex;
        gap: 10px;
  
        button {
          padding: 12px 14px;
          border: none;
          color: $black;
          font-size: 20px;
          cursor: pointer;
          background-color: $box-light;
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          @include transition();
          svg{
            margin-bottom: -4px;
            font-size: 20px;
          }
          &:hover{
            background-color: $box-hover-light;
          }
}
      }
    }
    .mobile-navbar {
        display: none;
        background-color: $main-light;
        padding:20px 25px;
        margin: 0;
        border-radius: 8px;
        width: 100%;
        top: 45px;
        left:100%;
        z-index: 1000;
        height: 100vh;
        position: fixed;
        @include transition();
        .mobile-menu-content{
            width: 100%;
        }
        .top-text{
            font-weight: 500;
            font-size: 14px;
        }
      
        &-top-icons {
          display: flex;
          justify-content: center;
          gap: 8px;
          margin: 15px 0 10px 0;
      
          button {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fdeaea;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            @include transition();
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            svg{
              font-size: 20px;
              color: $red;
            }
      
            &:hover {
              background-color: #FDCCCB;
            }
          }
        }
      
        &-menu {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
      
            li {
              margin-bottom: 8px;
      
              a {
                width:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 20px;
                background-color: $box-light;
                border: none;
                border-radius: 10px;
                font-size: 13px;
                font-weight: 500;
                color: $black;
                cursor: pointer;
                transition: background-color 0.3s;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                ion-icon{
                  font-size: 13px;
                  color: #666;
                }
      
                &:hover {
                  background-color: $box-hover-light;
                }
              }
            }
          }
        }
      }
      .mobile-navbar.active{
        left: 0;
      }
  }
  @media (max-width: 768px) {
    .header{
        padding: 0 20px;
    }
    .top-navbar{
        padding: 4px 8px  !important;
        margin-top: 5px;
        ul{
            li{
                display: none;
            }
        }
    }
    .mobile-navbar{
        display: block !important;
    }
    .burger{
        display: flex !important;
    }
    .main-navbar{
        gap: 15px;
        padding: 10px 0px !important;
        .logo img{
            height: 45px !important;
        }
        .catalogue-btn{
            font-size: 14px !important;
        }
        .search-bar{
            padding: 10px 12px !important;
        }
        .actions{
            display: none !important;
        }
        &.fixed {
            padding: 5px 20px !important;
            position: fixed;
            top: 0;
            left: 0px;
          }
    }
  } 
  