.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 9.5%;
    gap: 20px;
    .slider-container {
        width: 100%;
        max-width: 1240px;
        height: 500px;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
      }
      .slide{
        height: 500px;
        &:focus{
            outline: none;
        }
      }
      .slide img {
        border: 1px solid #ddd;
        width: 99%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.064);
    @include transition();
    &:hover{
        background-color: $box-light;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.24);
    }
    svg{
        font-size: 22px;
        color: $red;
        z-index: 11;
    }
  }  
  .next {
    right: 10px;
    svg{
        margin-left: -15px;
    }
  }
  
  .prev {
    left: 10px;
    svg{
        margin-left: -20px;
    }
  }
  .why-us{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    .card{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 200px;
        padding: 25px;
        border-radius: 25px;
        background-color: $box-light;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        div{
            background-color: $box-hover-light;
            width: 50px;
            height: 50px;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            svg{
                font-size: 28px;
                color: $main-dark;
            }
        }
        h2{
            color: $main-dark;
            margin: 2px 0;
        }
        p{
            color: $black-2nd;
        }
}
}
      
}
@media (max-width: 768px){
    .home-container{
        padding: 10px 15px;
        .slider-container{
            border-radius: 15px;
            width: 100%;
            height: 200px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            .slide{
                height: 200px;
                img{
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
}
            }
        }
        .custom-arrow{
            height: 30px;
            width: 30px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            svg{
                font-size: 12px;
            }
            
        }
        .next{
            right: 0px;
        }
        .prev{
            left: 0px;
        }
    }
    .why-us{
        flex-wrap: wrap;
        justify-content: center !important;
        .card{
            padding: 15px !important;
            width: 160px !important;
            height: 180px !important;
            border-radius: 15px !important;
            -webkit-border-radius: 15px !important;
            -moz-border-radius: 15px !important;
            -ms-border-radius: 15px !important;
            -o-border-radius: 15px !important;
            div{
                width: 30px !important;
                height: 30px !important;
                border-radius: 6px !important;
                -webkit-border-radius: 6px !important;
                -moz-border-radius: 6px !important;
                -ms-border-radius: 6px !important;
                -o-border-radius: 6px !important;
                svg{
                    font-size: 18px !important;
                }
}
            h2{
                font-size: 14px;
            }
            p{
                font-size: 11px;
            }
}
    }
}