$main-light: #FFFFFF;
$box-light: #F5F5F5;
$box-hover-light: #E1E1E1;
$red: #EA2328;
$red-hover: #bc1318;
$black: #252525;
$soft-black: #3a3a3a;
$black-2nd: #878686;
$border-light: #99999948;
$main-dark: #1A1A1A;
$box-dark: #2B2B2B;
$box-hover-dark: #515151;
$white: #FFFFFF;
$soft-white: #faf9f9;
$white-2nd: #b9b9b9;
$border-dark: #dcdbdb;